# Intermediate files
*Testing
*.ninja
*.cmake
*.ninja_deps
*.ninja_log
*.ninja_o
*.ninja_d
*.ninja_p
*CMakeFiles

# Compiles binaries
x64/

#  Rider workspace files
.idea/

#  VS workspace files
.vscode/
.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
